@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #08020d;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
.max-w {
  max-width: 1200px;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.p-absolute {
  position: absolute;
}

.center {
  margin: 0 auto;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mr-90 {
  margin-right: 90px;
}

.bg-green {
  background-color: #34C176;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
  top: 25px;
  left: 0;
  right: 0;
}

.logo {
  height: max-content;
}
.logo-link {
  align-items: center;
  column-gap: 16px;
  color: #fff;
}
.logo-img {
  width: 24px;
}
.logo-title {
  font-size: 11px;
  text-transform: uppercase;
}

.navigation {
  height: max-content;
}
.navigation-list {
  column-gap: 24px;
}
.navigation-link {
  font-size: 11px;
  color: #CACACA;
  text-transform: uppercase;
}
.navigation-link-active {
  color: #fff;
}

.search {
  margin-left: auto;
}
.search-input {
  box-sizing: border-box;
  min-width: 248px;
  height: 25px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  background-color: #3C3B3D;
  color: #fff;
}
.search-input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #757575;
  text-transform: uppercase;
}
.search-input:focus {
  outline: none;
}

@media (width <= 414px) {
  .header {
    flex-direction: column;
    padding: 0 20px;
  }
  .logo {
    margin-bottom: 17px;
  }
  .navigation-list {
    flex-direction: column;
    margin-bottom: 17px;
  }
  .search {
    margin: 0;
  }
  .search-input {
    width: 100%;
  }
}
.hero {
  padding: 200px 0;
  text-align: center;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.hero-content {
  color: #fff;
}
.hero-title {
  font-weight: 700;
}

.registration {
  justify-content: center;
  column-gap: 24px;
  max-width: 570px;
}
.registration-input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 0 20px;
  background-color: transparent;
  border: 2px solid #CACACA;
  border-radius: 3px;
  color: #fff;
}
.registration-input::placeholder {
  font-size: 14px;
  color: #fff;
}
.registration-input:focus {
  outline: none;
}

@media (width <= 414px) {
  .hero {
    padding: 248px 20px 200px 20px;
  }
}
.pricing {
  padding: 100px 0;
  text-align: center;
}
.pricing-title {
  margin-bottom: 50px;
}
.pricing-content {
  column-gap: 50px;
}
.pricing-item {
  box-sizing: border-box;
  max-width: 366px;
  padding-top: 24px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
}
.pricing-item-title {
  margin-bottom: 200px;
}
.pricing-value {
  font-size: 64px;
  line-height: 1em;
  color: #fff;
}
.pricing-sup {
  font-size: 32px;
}
.pricing-btn {
  border: 1px solid #fff;
  background-color: transparent;
}
.pricing-footer {
  font-size: 13px;
}
.pricing-description {
  font-size: 16px;
  color: #fff;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-base {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@media (width <= 414px) {
  .pricing-content {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}

/*# sourceMappingURL=app.css.map */
