@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #08020d;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
  }
}
.max-w {
  max-width: 1200px;
  width: 100%;
}

.d-flex {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap-x-50 {
  column-gap: 50px;
}

.gap-x-90 {
  column-gap: 90px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mx-auto {
  margin: 0 auto;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-90 {
  margin-right: 90px;
}

.bg-green {
  background-color: #34C176;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
  top: 25px;
  left: 0;
  right: 0;
}

.logo {
  column-gap: 16px;
  color: #fff;
}
.logo-image {
  height: 24px;
}
.logo-text {
  font-size: 11px;
  text-transform: uppercase;
}

.navigation {
  height: max-content;
}
.navigation-item {
  height: max-content;
}
.navigation-list {
  column-gap: 24px;
}
.navigation-link {
  font-size: 11px;
  color: #CACACA;
  text-transform: uppercase;
}
.navigation-link-active {
  color: #fff;
}

.search {
  margin-left: auto;
}
.search-input {
  box-sizing: border-box;
  min-width: 248px;
  height: 25px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  background-color: #3C3B3D;
  color: #fff;
}
.search-input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #757575;
  text-transform: uppercase;
}
.search-input:focus {
  outline: none;
}

@media (width <= 414px) {
  .container {
    flex-direction: column;
    row-gap: 17px;
  }
  .navigation-list {
    flex-direction: column;
  }
  .navigation-item {
    height: 16px;
  }
  .search {
    margin: 0;
  }
  .search-input {
    width: 100%;
  }
}
.hero {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero-content {
  box-sizing: border-box;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 700;
}
.hero-subtitle {
  margin-bottom: 31px;
}

.registration {
  justify-content: center;
  column-gap: 24px;
  max-width: 570px;
}
.registration-input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 0 20px;
  background-color: transparent;
  border: 2px solid #CACACA;
  border-radius: 3px;
  color: #fff;
}
.registration-input::placeholder {
  font-size: 14px;
  color: #fff;
}
.registration-input:focus {
  outline: none;
}

@media (width <= 414px) {
  .hero-content {
    padding-top: 248px;
  }
  .hero-subtitle {
    margin-bottom: 16px;
  }
  .registration-input {
    width: 100%;
  }
}
.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-base {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing {
  box-sizing: border-box;
  padding-top: 100px;
}
.pricing-title {
  text-align: center;
}
.pricing-cards {
  margin-top: 50px;
  column-gap: 50px;
}
.pricing-description {
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.card {
  box-sizing: border-box;
  max-width: 353px;
  padding-top: 24px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  text-align: center;
}
.card-title {
  margin-bottom: 200px;
}
.card-price {
  display: inline-block;
  height: 64px;
  font-size: 64px;
  line-height: 1rem;
  color: #fff;
}
.card-currency {
  text-transform: uppercase;
  font-size: 32px;
}
.card-btn {
  border: 1px solid #fff;
  background-color: transparent;
}
.card-description {
  font-size: 13px;
  color: #fff;
}

@media (width <= 414px) {
  .pricing-cards {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
  .card {
    padding-top: 16px;
  }
}

/*# sourceMappingURL=app.css.map */
