@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #08020d;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
.max-w {
  max-width: 1200px;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.p-absolute {
  position: absolute;
}

.center {
  margin: 0 auto;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-90 {
  margin-right: 90px;
}

.bg-green {
  background-color: #34C176;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
  top: 25px;
  left: 0;
  right: 0;
}

.logo {
  height: max-content;
}
.logo-link {
  align-items: center;
  column-gap: 16px;
  color: #fff;
}
.logo-img {
  width: 24px;
}
.logo-title {
  font-size: 11px;
  text-transform: uppercase;
}

.navigation {
  height: max-content;
}
.navigation-list {
  column-gap: 24px;
}
.navigation-link {
  font-size: 11px;
  color: #CACACA;
  text-transform: uppercase;
}
.navigation-link-active {
  color: #fff;
}

.search {
  margin-left: auto;
}
.search-input {
  box-sizing: border-box;
  min-width: 248px;
  height: 25px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  background-color: #3C3B3D;
  color: #fff;
}
.search-input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #757575;
  text-transform: uppercase;
}
.search-input:focus {
  outline: none;
}

@media (width <= 414px) {
  .header {
    flex-direction: column;
    padding: 0 20px;
  }
  .logo {
    margin-bottom: 17px;
  }
  .navigation-list {
    flex-direction: column;
    margin-bottom: 17px;
  }
  .search {
    margin: 0;
  }
  .search-input {
    width: 100%;
  }
}
.hero {
  padding: 200px 20px;
  text-align: center;
  background-position: center;
  background-size: cover;
}
.hero-content {
  color: #fff;
}
.hero-title {
  font-weight: 700;
}

.registration {
  justify-content: center;
  column-gap: 24px;
  max-width: 570px;
}
.registration-input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 0 20px;
  background-color: transparent;
  border: 2px solid #CACACA;
  border-radius: 3px;
  color: #fff;
}
.registration-input::placeholder {
  font-size: 14px;
  color: #fff;
}
.registration-input:focus {
  outline: none;
}

.artist {
  text-align: start;
}
.artist-icon {
  filter: invert(1);
}
.artist-buttons {
  column-gap: 1.5rem;
}
.artist-btn {
  align-items: center;
  column-gap: 16px;
  width: 200px;
  padding: 20px 30px;
  border: none;
  font-size: 12.8px;
  color: #fff;
  text-transform: uppercase;
}

.bg-main {
  background-image: url("../images/banner.png");
}

.bg-morten {
  background-image: url("../images/Morten Harket.png");
}

.bg-purple {
  background-color: #5328A1;
}

.bg-red {
  background-color: #95390C;
}

@media (width <= 414px) {
  .hero {
    padding: 248px 20px 200px 20px;
  }
  .hero-description {
    margin-bottom: 48px;
  }
  .artist-buttons {
    flex-direction: column;
    row-gap: 24px;
  }
}
.pricing {
  padding-top: 100px;
  text-align: center;
}
.pricing-title {
  margin-bottom: 50px;
}
.pricing-content {
  column-gap: 50px;
}
.pricing-item {
  box-sizing: border-box;
  max-width: 366px;
  padding-top: 24px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
}
.pricing-item-title {
  margin-bottom: 200px;
}
.pricing-value {
  font-size: 64px;
  line-height: 1em;
  color: #fff;
}
.pricing-sup {
  font-size: 32px;
}
.pricing-btn {
  border: 1px solid #fff;
  background-color: transparent;
}
.pricing-footer {
  font-size: 13px;
}
.pricing-description {
  font-size: 16px;
  color: #fff;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-base {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@media (width <= 414px) {
  .pricing-content {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}
.news-section {
  row-gap: 65px;
  padding-top: 100px 20px 0 20px;
  text-align: center;
}

.news-card {
  column-gap: 50px;
}
.news-card-image {
  max-width: 100%;
  height: auto;
}
.news-card-content {
  text-align: left;
}
.news-card-title {
  font-size: 30px;
  text-transform: none;
}
.news-card-description {
  font-size: 16px;
}
.news-card-author {
  column-gap: 16px;
  align-items: center;
  font-size: 12px;
}
.news-card-author-avatar {
  max-width: 100%;
  max-height: auto;
  font-style: normal;
  color: #F89202;
  text-transform: uppercase;
}
.news-card-btn {
  max-width: 135px;
  max-height: 53px;
  padding: 16px 30px;
  border: 1px solid #CACACA;
  background-color: transparent;
  font-size: 12px;
}

@media (width <= 414px) {
  .news-card {
    flex-direction: column;
    row-gap: 50px;
  }
}
.page-app {
  padding-top: 100px 20px;
  text-align: center;
}

.app-content {
  flex-direction: row-reverse;
}

.app-image {
  max-width: 333px;
  height: auto;
}

.app-description {
  width: 50%;
  text-align: left;
}
.app-description-text {
  margin: 16px 0;
}
.app-description-btn {
  cursor: pointer;
  max-width: 131px;
  max-height: 53px;
  margin-top: 16px;
  padding: 16px 40px;
  background-color: #95390C;
  border: none;
  border-radius: 32px;
  font-size: 12.8px;
  color: #fff;
}

@media (width <= 414px) {
  .app-content {
    flex-direction: column;
  }
  .app-description {
    width: 100%;
  }
}
.page-track {
  padding-top: 100px 20px 0 20px;
}

.track-content {
  column-gap: 50px;
  row-gap: 25px;
}

.popular-track {
  flex: 47%;
  column-gap: 15px;
  align-items: center;
}
.popular-track-time {
  margin-left: auto;
}

.track-info {
  font-size: 12.8px;
  color: #fff;
}
.track-info-song-info {
  text-transform: uppercase;
}

@media (width <= 414px) {
  .popular-track {
    flex: 1;
  }
}
.page-discography {
  padding-top: 100px 20px 0 20px;
}

.discography-list {
  justify-content: flex-start;
  column-gap: 50px;
  row-gap: 25px;
}

.discography-info {
  margin-top: 18px;
  color: #fff;
}
.discography-info-title {
  font-size: 18px;
  line-height: 27px;
  text-transform: none;
}

@media (width <= 414px) {
  .discography-item {
    width: 137px;
  }
  .discography-item-image {
    width: 137px;
    height: 137px;
  }
}
.similar {
  padding-top: 100px 20px 0 20px;
}
.similar-content {
  column-gap: 50px;
  row-gap: 25px;
}
.similar-item {
  width: 250px;
  flex-direction: column;
  row-gap: 17px;
}
.similar-item-image {
  width: 250px;
}
.similar-item-info {
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.similar-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: none;
}

@media (width <= 414px) {
  .similar-item {
    width: 137px;
  }
  .similar-item-image {
    width: 137px;
    height: 137px;
  }
}
.footer {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer-top {
  justify-content: space-between;
  margin-bottom: 72px;
}
.footer-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
}
.footer-list {
  flex-direction: column;
}
.footer-link {
  font-size: 16px;
  color: #E0E0E0;
}
.footer-icons {
  column-gap: 24px;
}
.footer-bottom {
  padding-top: 40px;
  border-top: 1px solid #CACACA;
}
.footer-nav-list {
  column-gap: 16px;
}

@media (width <= 414px) {
  .footer-top {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer-nav-list {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    row-gap: 16px;
  }
}

/*# sourceMappingURL=app.css.map */
