@use "variables" as *;

.max-w {
  max-width: 1200px;
  width: 100%;
}

.d-flex {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mx-auto {
  margin: 0 auto;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-90 {
  margin-right: 90px;
}

.bg-green {
  background-color: $green;
}