@use "variables" as *;

.max-w {
  max-width: 1200px;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.p-absolute {
  position: absolute;
}

.center {
  margin: 0 auto;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mr-90 {
  margin-right: 90px;
}

.bg-green {
  background-color: $green;
}