.max-w {
  max-width: 1200px;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.p-absolute {
  position: absolute;
}

.center {
  margin: 0 auto;
}


.mb-17 {
  margin-bottom: 17px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mr-90 {
  margin-right: 90px;
}