@use "variables" as *;

.hero {
  padding: 200px 20px;

  text-align: center;

  background-position: center;
  background-size: cover;

  &-content {
    color: #fff;
  }

  &-title {
    font-weight: 700;
  }
}

.registration {
  justify-content: center;
  column-gap: 24px;
  max-width: 570px;

  &-input {
    box-sizing: border-box;
    min-width: 270px;
    min-height: 50px;

    margin-bottom: 1.5rem;

    padding: 0 20px;

    background-color: transparent;

    border: 2px solid $dark-gray;
    border-radius: 3px;

    color: #fff;

    &::placeholder {
      font-size: 14px;
      color: #fff;
    }

    &:focus {
      outline: none;
    }
  }
}

.artist {
  text-align: start;

  &-icon {
    filter: invert(1);
  }

  &-buttons {
    column-gap: 1.5rem;
  }

  &-btn {
    align-items: center;
    column-gap: 16px;
    width: 200px;
    padding: 20px 30px;

    border: none;

    font-size: 12.8px;
    color: #fff;
    text-transform: uppercase;
  }
}

.bg-main {
  background-image: url("../images/banner.png");
}

.bg-morten {
  background-image: url("../images/Morten\ Harket.png");
}

.bg-purple {
  background-color: $purple;
}

.bg-red {
  background-color: $red;
}

@media (width <= 414px) {
  .hero {
    padding: 248px 20px 200px 20px;

    &-description {
      margin-bottom: 48px;
    }
  }

  .artist-buttons {
    flex-direction: column;
    row-gap: 24px;
  }
}