@use "variables" as *;

.page-news {
  padding-top: 100px;
  box-sizing: border-box;

  &-title {
    margin-bottom: 48px;
    text-align: center;
  }
}

.news {
  column-gap: 50px;
  margin-bottom: 65px;
  
  &-image {
    width: 575px;
    height: 286px;
  }

  &-title {
    font-size: 30px;
    line-height: 45px;
    color: #fff;

    text-transform: capitalize;
  }

  &-author {
    column-gap: 16px;

    font-size: 12px;
  }

  &-author-avatar {
    color: $orange;
    font-style: normal;
    text-transform: uppercase;
  }

  &-author-date {
    color: $dark-gray;
  }

  &-btn {
    width: 135px;
    height: 53px;
    border: 1px solid $dark-gray;
    background-color: transparent;

    font-size: 12px;
    color: $dark-gray;
  }
}

@media (width <= 414px) {
  .news {
    flex-direction: column;
    row-gap: 50px;

    &-image {
      width: 100%;
      height: auto;
    }
  }
}
