@use "variables" as *;

.page-news {
  padding-top: 100px;

  &-title {
    margin-bottom: 48px;
    text-align: center;
  }
}

.news {
  column-gap: 50px;
  margin-bottom: 65px;
  
  &-image {
    width: 575px;
    height: 286px;
  }

  &-title {
    font-size: 30px;
    line-height: 45px;
    color: #fff;

    text-transform: capitalize;
  }

  &-author {
    column-gap: 16px;

    font-size: 12px;
  }

  &-author-avatar {
    color: $orange;
    font-style: normal;
    text-transform: uppercase;
  }

  &-author-date {
    color: $dark-gray;
  }

  &-btn {
    width: 135px;
    height: 53px;
    border: 1px solid $dark-gray;
    background-color: transparent;

    font-size: 12px;
    color: $dark-gray;
  }
}

// .news-section {
//   row-gap: 65px;
//   padding-top: 100px 20px 0 20px;
//   text-align: center;
// }

// .news-card {
//   column-gap: 50px;

//   &-image {
//     max-width: 100%;
//     height: auto;
//   }

//   &-content {
//     text-align: left;
//   }

//   &-title {
//     font-size: 30px;
//     text-transform: none;
//   }

//   &-description {
//     font-size: 16px;
//   }

//   &-author {
//     column-gap: 16px;
//     align-items: center;

//     font-size: 12px;
//   }

//   &-author-avatar {
//     max-width: 100%;
//     max-height: auto;

//     font-style: normal;
//     color: $orange;
//     text-transform: uppercase;
//   }

//   &-btn {
//     max-width: 135px;
//     max-height: 53px;
//     padding: 16px 30px;

//     border: 1px solid $dark-gray;

//     background-color: transparent;

//     font-size: 12px;
//   }
// }

// @media (width <= 414px) {
//   .news-card {
//     flex-direction: column;
//     row-gap: 50px;
//   }
// }
