.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-base {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}
