.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-base {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing {
  padding-top: 100px;

  &-title {
    margin-bottom: 50px;

    text-align: center;
  }

  &-description {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
}

.cards {
  margin-bottom: 40px;
  column-gap: 50px;
  justify-content: space-between;
}

.card {
  flex: 1;
  padding-top: 24px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  border-radius: 1rem;

  color: #fff;

  &-title {
    margin-bottom: 200px;

    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;

    text-align: center;
  }

  &-price {
    margin-bottom: 40px;

    line-height: 1;
    font-size: 64px;
    text-align: center;
  }

  &-currency {
    font-size: 32px;
  }

  &-btn {
    background-color: transparent;
    margin-bottom: 64px;

    border: 1px solid #fff;
  }

  &-description {
    margin-bottom: 64px;

    font-size: 12.8px;
    text-align: center;
  }
}

@media (width <= 414px) {
  .pricing {
    box-sizing: border-box;
  }

  .pricing-title {
    font-size: 18px;
  }

  .cards {
    flex-direction: column;
    row-gap: 50px;
  }

  .card {
    box-sizing: border-box;
    max-width: 374px;
    margin: 0 auto;
    padding-top: 16px;

    &-title {
      font-size: 16px;
    }
  }
}